body {
  --color-main: #007ACD;
  --color-link: #0A7CAA;
  --color-background: #DCDCDC;
  --color-box-background: #FFF;
  --color-thread-row-odd: #FFF;
  --color-thread-row-evan: #F1F1F1;
  --color-login-input-field: #BEBEBE;
  --color-login-submit-button: #E5E5E5;
  --color-auth-error: #CD0000;

  margin: auto;
  width: 1378px;
  font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  /*background-image: url(./storage/defaultBackground.png);*/
  background-color: var(--color-background);
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
  list-style-type: none;
  display: flex;
  margin: auto;
  width: 1378px;
  padding-inline-start: 0;
}

li > div > a {
  margin-right: 10px;
  cursor: pointer;
  font-size: 31px;
  color: var(--color-main);
}

aside {
  margin: 0 0 0 50px;
  width: 308px;
}

p {
  margin: 0;
}

nav {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

form {
  padding: 7px 13px 13px 13px;
}

form > p {
  font-size: 18px;
}

input:not([type="submit"]) {
  border: 2px solid var(--color-login-input-field);
  border-radius: 2px;
  width: Calc(100% - 8px);
  height: 19px;
  font-size: 16px;
  padding: 2px;
}

input[type="submit"] {
  background: var(--color-login-submit-button);
  border: none;
  border-radius: 2px;
  width: 100%;
  height: 34px;
  font-size: 23px;
  color: #007ACD;
  font-weight: bold;
  margin: 6px 0 0 0;
}

.body-wrapper {
  display: flex;
  justify-content: space-between;
}

.latest-statuses {
  height: 600px;
}

.logo-text {
  font-family: 'Nirmala UI', sans-serif;
  font-size: 76px;
  letter-spacing: -2px;
  color: #007ACD;
  font-weight: 100;
  margin: 45px 0 0 0;
}

.navbar-line {
  background-color: var(--color-main);
  height: 5px;
}

.link {
  text-decoration: none;
}

.button {
  cursor: pointer;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.error {
  padding: 13px
}

.auth-error {
  font-size: 16px;
  color: var(--color-auth-error);
  font-style: italic;
}

.active-link-line {
  width: calc(100% - 10px);
  height: 5px;
  margin: -5px 0 0 0;
  background: var(--color-box-background);
}

.hidden-true {
  display: none;
}

.active-link-true > a {
  color: var(--color-box-background);
}

.box {
  width: 100%;
  margin: 0 0 50px 0;
}

.box-title {
  background-color: var(--color-main);
  width: 100%;
  color: var(--color-box-background);
  border-radius: 5px 5px 0 0;
  font-size: 28px;
  padding: 11px;
  line-height: 26px;
}

.box-title-wrapper {
  display: flex;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.thread-row:last-child {
  border-radius: 0 0 5px 5px;
}

.box-contents.aside-box-false {
  width: 1010px;
  background: #FFF;
  margin: 0 5px 0 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 0 0 5px 5px;
}

.box-contents.aside-box-true {
  width: Calc(100% - 10px);
  background: #FFF;
  margin: 0 5px 0 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 0 0 5px 5px;
}

.thread-row:nth-child(2n+1) {
  background-color: var(--color-thread-row-odd);
}

.thread-row:nth-child(2n) {
  background-color: var(--color-thread-row-evan);
}

.thread-row {
  height: 69px;
  padding: 13px;
}

.event-row-title {
  font-size: 16px;
}

.event-row-event-sample {
  font-size: 18px;
  overflow-x: hidden;
  height: 48px;
}

.navbar-hidden-true a {
  color: rgba(255, 255, 255, 0);
  cursor: default;
}

.link:not(.navbar-link) {
  color: var(--color-link);
  cursor: pointer;
}

.form .link {
  font-style: italic;
}

.titleless-box-contents {
  border-radius: 5px !important;
}

.titleless-box-contents .thread-row:first-child {
  border-radius: 5px;
}

.link:hover {
  text-decoration: underline;
}

.personal-panel {
  width: Calc(100% - 36px) !important;
  padding: 13px;
}

.personal-panel > a:not(.personal-panel-username) {
  display: block;
}

.personal-panel-username {
  font-size: 40px;
  display: inline-block;
  vertical-align: middle;
}

.personal-panel-img {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: 2px solid var(--color-main);
}

.personal-panel-title {
  display: flex;
  justify-content: left;
  align-items: center;
}

.loading {
  position: absolute;
  animation: 5s infinite alternate loading-slide;
  font-size: 25px;
  height: 33px;
  top: Calc(50% - 33px);
  width: 270px;
  font-weight: bold;
}

@keyframes loading-slide {
  from {
    right: 100%;
  }

  to {
    right: -14%;
  }
}