body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #363636;
  color: #bfbfbf;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
  padding: 15px;
  margin: 0;
  display: flex;
  width: 100%;
}

li {
  margin-right: 10px;
  cursor: pointer;
}

header {
  margin: 15px;
  padding: 5px 5px 5px 10px;
  background: #1d1d1d;
  display: flex;
}

header * {
  font-weight: 500;
}

aside {
  background: #1d1d1d;
  padding: 5px;
  min-height: 800px;
  margin: 0 15px 0 0;
  width: 15%;
}
.body-wrapper {
  display: flex;
  justify-content: space-between;
}

.latest-statuses {
  padding: 10px;
  font-size: 22px;
}

.latest-statuses > p {
  margin-top: 0;
  font-weight: 500;
}

.logo {
  height: 50px;
}

.content {
  min-height: 200px;
  padding: 15px;
  margin: 0 15px 0 15px;
  width: 85%;
}

.login {
  background: #1d1d1d;
}

.register {
  background: #1d1d1d;
}

.link {
  text-decoration: underline;
}

.button {
  cursor: pointer;
}

.avatar * {
  width: 200px;
  height: 200px;
}

.error {
  background: #1d1d1d;
  height: 200px;
}

.error p {
  margin: 0;
}