body {
  margin: auto;
  width: 1378px;
  font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  /*background-image: url(./storage/defaultBackground.png);*/
  background-color: #dcdcdc;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
  list-style-type: none;
  display: flex;
  margin: auto;
  width: 1378px;
  padding-inline-start: 0;
}

li > div > a {
  margin-right: 10px;
  cursor: pointer;
  font-size: 31px;
  color: #007ACD;
}

aside {
  margin: 0 0 0 50px;
  width: 308px;
}

p {
  margin: 0;
}

nav {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

form {
  padding: 7px 13px 13px 13px;
}

form > p {
  font-size: 18px;
}

input:not([type="submit"]) {
  border: 2px solid #BEBEBE;
  border-radius: 2px;
  width: Calc(100% - 8px);
  height: 19px;
  font-size: 16px;
  padding: 2px;
}

input[type="submit"] {
  background: #E5E5E5;
  border: none;
  border-radius: 2px;
  width: 100%;
  height: 34px;
  font-size: 23px;
  color: #007ACD;
  font-weight: bold;
  margin: 6px 0 0 0;
}

.body-wrapper {
  display: flex;
  justify-content: space-between;
}

.latest-statuses {
  height: 600px;
}

.latest-statuses > p {
  margin-top: 0;
  font-weight: 500;
}

.logo-text {
  font-family: 'Nirmala UI', sans-serif;
  font-size: 76px;
  letter-spacing: -2px;
  color: #007ACD;
  font-weight: 100;
  margin: 45px 0 0 0;
}

.login {
  background: #1d1d1d;
}

.register {
  background: #1d1d1d;
}

.navbar-line {
  background-color: #007ACD;
  height: 5px;
}

.link {
  text-decoration: none;
}

.button {
  cursor: pointer;
}

.avatar * {
  width: 200px;
  height: 200px;
}

.error {
  background: #1d1d1d;
  height: 200px;
}

.error p {
  margin: 0;
}

.auth-error {
  font-size: 16px;
  color: #cd0000;
  font-style: italic;
}

.register p, .login p {
  margin-bottom: 5px;
}

.active-link-line {
  width: calc(100% - 10px);
  height: 5px;
  margin: -5px 0 0 0;
  background: #FFF;
}

.hidden-true {
  display: none;
}

.active-link-true > a {
  color: #FFF;
}

.box {
  width: 100%;
  margin: 0 0 50px 0;
}

.box-title {
  background-color: #007ACD;
  width: 100%;
  color: #FFF;
  border-radius: 5px 5px 0 0;
  font-size: 28px;
  padding: 11px;
  line-height: 26px;
}

.box-title-wrapper {
  display: flex;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.box-contents.aside-box-false {
  width: 1010px;
  background: #FFF;
  margin: 0 5px 0 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 0 0 5px 5px;
}

.box-contents.aside-box-true {
  width: Calc(100% - 10px);
  background: #FFF;
  margin: 0 5px 0 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 0 0 5px 5px;
}

.thread-row:nth-child(2n) {
  background-color: #F1F1F1;
}

.thread-row {
  height: 69px;
  padding: 13px;
}

.event-row-title {
  font-size: 16px;
}

.event-row-event-sample {
  font-size: 18px;
  overflow-x: hidden;
  height: 48px;
}

.navbar-hidden-true a {
  color: rgba(255, 255, 255, 0);
  cursor: default;
}

.forgot-password-link {
  color: #0A7CAA;
  font-style: italic;
}

.link:hover {
  text-decoration: underline;
}